/* Sidebar Styling */

/*table*/
:root {
  --tmr-bootstrap-border-color: #dee2e6;
  --tmr-white: #eee;
  --tmr-table-header: #54667a;
  --tmr-row-divider-color: #3490dc;
  --tmr-stripped-row-background-color: rgba(0, 0, 0, 0.05);
}


.content-container.flex-grow-1.p-3 {
  padding-top: 4% !important;
  padding-left: 5% !important;
}







/*Pagination */
.pagination {
  justify-content: center;
}

.col-form-label {
  float: left;
}

.pagination {
  width: 172vh;
  padding: 10px;
  text-align: center;
}

.ms-5 {
  margin-left: 4rem !important;
}


/* Search Bar */
.form-control {
  border-radius: 5px;
}


/*btn del*/
.btn-confirm-delete {
  background-color: #d33 !important;
  /* Màu đỏ */
  color: white !important;
  /* Màu chữ trắng */
}



/* Tùy chỉnh checkbox */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }
  
  /* Ẩn checkbox mặc định */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Tạo checkbox tùy chỉnh */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 4px;
  }
  
  /* Khi checkbox được chọn */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  /* Tạo dấu check */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Hiển thị dấu check khi chọn */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Kiểu dấu check */
  .container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  